pipeline/IncrementalFileLoadPipeline.json
{
	"name": "IncrementalFileLoadPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetSourceMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adventurewroksDS",
						"type": "DatasetReference",
						"parameters": {
							"p_directory": "triggerdata",
							"p_contaner": "source",
							"p_file": "''"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "GetDestinationMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AdventureWorksDS",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "destination",
							"p_dir": "files",
							"p_file": "''"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachDestfilesFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetDestinationMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDestinationMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Appenddestfilesvariable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "destfile",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEachSourcedata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEachDestfilesFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceMetadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('destfile'),item().name )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copysourcetriggerdata",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "adventurewroksDS",
												"type": "DatasetReference",
												"parameters": {
													"p_directory": "triggerdata",
													"p_contaner": "source",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "adventurewroksDS",
												"type": "DatasetReference",
												"parameters": {
													"p_directory": "files",
													"p_contaner": "destination",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"folder": {
				"type": "String"
			},
			"container": {
				"type": "String"
			},
			"file": {
				"type": "String"
			},
			"destfile": {
				"type": "Array"
			},
			"destfileoutput": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-26T21:05:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}