pipeline/TransformationPipeline.json
{
	"name": "TransformationPipeline",
	"properties": {
		"activities": [
			{
				"name": "Parameter Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ParameterJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachParameterValue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Parameter Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Parameter Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Transformationcopy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Region",
											"value": {
												"value": "@item().p_rel_dir",
												"type": "Expression"
											}
										},
										{
											"name": "LoadDate",
											"value": {
												"value": "@substring(\n    convertFromUtc(utcNow(),'India Standard Time'),\n    0,\n    10)\n",
												"type": "Expression"
											}
										},
										{
											"name": "LoadTIme",
											"value": {
												"value": "@formatDateTime(\nconvertFromUtc(utcNow(), 'India Standard Time'),\n'HH:mm:ss'\n)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BronzeDS",
									"type": "DatasetReference",
									"parameters": {
										"p_rel_dir": {
											"value": "@item().p_rel_dir",
											"type": "Expression"
										},
										"p_rel_file": {
											"value": "@item().p_rel_file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkDataset",
									"type": "DatasetReference",
									"parameters": {
										"p_rel_file": {
											"value": "@item().p_rel_file",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Transformation Data flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEachParameterValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Transformationdataflow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-05-19T11:44:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}